[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = git@github.com:kovasap/kovasap.github.io.git
	branch = master
[submodule "generative-art"]
	path = generative-art
	url = git@github.com:kovasap/generative-art.git
[submodule "reddit-tree"]
	path = reddit-tree
	url = git@github.com:kovasap/reddit-tree.git
[submodule "biomarker-correlator"]
	path = biomarker-correlator
	url = git@github.com:kovasap/biomarker-correlator.git
